button {
  appearance: none;
  background: #fff;
  border: 1px solid #b7b8b9;
  color: #111;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  padding: 0 20px;
  height: 48px;
  border-radius: 6px;
  min-width: 180px;
}

button.secondary {
  background: #151515;
  border-radius: 128px;
  border: none;
  color: #fff;
}

button.icotype {
  height: 24px;
  padding: 0 24px 0 10px;
  border: none;
  background: transparent;
  position: relative;
  min-width: 80px;

  &::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../../public/images/ico_chevron_right_black.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    transform: translateY(-50%);
    margin-left: 20px;
  }
}
