:root {
    font-size: 10px;
}
.chip {
    border: 1px solid #ddd;
    border-radius: .8rem;
    font-size:1.4rem;
    padding:.8rem;
    cursor:default;
}
.chip[aria-checked="true"] {
    background-color: #e7ffa0fa;
}

.chip.icon {
    padding-left: 3rem;
    position: relative;
}
.chip.icon::before {
    content: 'i';
    position: absolute;
    left: .8rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 1.5rem;
}